<html>
<head>
  <meta charset="utf-8">
  <meta content="Leonardo Lima">
  <title><% "Layout 01".upcase %></title>
</head>
<body>
  <div class="fundo"></div>
  <nav>
    <div class="itens">
      <a href="index.html"><li id="ativo">INÍCIO</li></a>
      <a href="cronograma.html"><li>CRONOGRAMA</li></a>
      <a href="inscricoes.html"><li>INSCRIÇÕES</li></a>
      <a href="galeria.html"><li>GALERIA</li></a>
      <a href="2017.html"><li>2017</li></a>
    </div>
  </nav>
  <div id="cabecario" align="center">
    <h1 class="cabecario">XXIVSEEU</h1>
    <div class="botoes" align="center">
      <a href="https://www.google.com/"><li class="central">INSCREVA-SE</li></a>

    </div>
  </div>
  <div class="conteudo">
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>
gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>gfdsg<br>


  </div>
</body>
</html>
