// Place all the styles related to the Paginas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   margin: 0;
   background-image: url('https://xxivseeu.000webhostapp.com/images/fundo.jpeg');
   background-repeat: no-repeat;
   background-size: 100%;
   position: absolute;
   left: -15;
   right: -15;
   display: block;
   z-index: -1;
 }

 div.conteudo{
   min-height: 1200px;
   margin: 0 auto;
   background: #fff;
   margin-top: 330px;
   padding-left: 18%;
   padding-right: 18%;
   padding-top: 50px;
 }

 div.fundo{



 }

 nav{
   height: 72px;
   display: block;
   z-index: 9999;
 }

 div.itens{
   float: right;
   margin-right: 40px;
   font-family: Roboto;
   font-size: 12pt;
   color: #fff;
 }


 li{
   padding: 26px ;
   float: left;
   list-style: none;
 }

 li:hover{
   color: rgb(255, 185, 64);
 }

 li#ativo{
   color: rgb(255, 161, 0);

 }

 a{
   text-decoration: none;
   color: #fff;
 }

 div#cabecario{
   margin-top: 15%;


 }
 h1.cabecario{
     font-family: Roboto;
     font-size: 640%;
     color: #fff;
     margin-bottom: 2%;
     width: 70%;
 }

 div.botoes{
   margin: 0 43%;
 }

 li.central{
   padding: 12px 55px;
   background: transparent;
   border: 2px #fff solid;
   width: 100px;
   font-family: Roboto;
   font-weight: bold;
   font-size: 12pt;
   color: #fff;
   border-radius: 10px;
   text-decoration: none;
   display: block;
   transition: 0.1s;
 }
 li.central:hover{
   background: white;
   color: rgb(255, 161, 0);
   transition: 0.1s;
 }
