<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="http://xxiiiseeu.000webhostapp.com/images/logo.ico">
    <title>XXIVSEEU</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
